    * {
      margin:0px;
      padding:0;
      font-size:17px;
      font-family:Arial, Helvetica, sans serif;
    }
    body {
    background-image:url(../images/bgweb.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    }
    #halaman {
      width:950px;
      min-height:780px;
      margin:auto;
    }
    #halaman #header {
      height:60px;
      padding-top: 20px;
    }
    #halaman #header h1 {
      font-size: 40px;
      color: #ff0000;
    }
    #halaman #menu {
      height: 50px;
      background-color: #ff6600;
    }
    #halaman #menu ul {
      list-style-type: none;
    }
    #halaman #menu ul li {
      float: left;
      width: 237px;
      text-align: center;
    }
    #halaman #menu ul li a {
      font-size: 24px;
      text-decoration: none;
      color: #330000;
      line-height: 50px;
    }
    #halaman #menu ul li a:hover {
      color: #fff;
    }
    #halaman #content {
      min-height: 600px;
      overflow: hidden;
      background-color: #ffff00;
    }
    #halaman #content #content_left {
      width: 620px;
      min-height: 560px;
      float: left;
      padding-bottom: 20px;
      padding-right: 10px;
      padding-left: 20px;
      padding-top: 20px;
    }
    #halaman #content #content_left h2 {
      font-size: 36px;
      margin-bottom: 25px;
    }
    #halaman #content #content_left p img {
      width: 300px;
      height: auto;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    #halaman #content #content_left p {
      text-align: justify;
      margin-bottom: 20px;
    }
    
    #halaman #content #content_right {
      width: 270px;
      min-height: 560px;
      float: right;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 10px
    }
    #halaman #content #content_right h2 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 20px;
    }
    #halaman #content #content_right img {
      width: 100%;
      height: auto;
      border-style: groove;
      border-color: #ff3400;
      border-radius: 30px;
      border-width: 5px;
      margin-bottom: 20px;
    }
    #halaman #content #content_right h3 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px;
    }
    #halaman #content #content_right h4 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
    }
    #halaman #content #content_right p {
      text-align: center;
      font-size: 14px;
      margin-bottom: 20px;
      text-align: justify;
    }
    
    #halaman #footer {
      height: 50px;
      background-color: #330000;
      color: white;
      line-height: 50px;
      padding-left: 20px;
    }